.card { 
    word-wrap: break-word;
    padding: 10px 10px;
    margin-bottom: 25px;
    background-color: lightblue;
    
}

.card-img-top {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}